syntax: glob
*.save
*.pyc
*.log
*.sock
.idea/*
env/*
venv/*
frontend/node_modules/*
frontend/build/*
public/static/tmp/*
apps/domains/management/*
db.sqlite3
assets/bundles
celerybeat-schedule
domainify_v2/settings_privacy.py
domainify_v2/settings_local.py
package-lock.json
webpack-stats.json
yarn.lock