.rowColorNEW{
    background-color: #d6e4ff;
}

.rowColorDONE{
    background-color: #d9f7be;
}

.rowColorCANCELED{
    background-color: #ffccc7;
}

.rowColorIN_PROGRESS {
    background-color: #ffffb8;
}

