.highlightACTIVE{
    background-color: #f4fdf4;
}

.highlightEXPIRES_ON{
    background-color: #fff6f6;
}

.highlightTEMPORARY_CLOSED{
    background-color: #a2e7ff;
}

.highlightCLOSED {
    background-color: #f9f9f9;
    color: rgba(0,0,0,0.25);
}

.highlightCLOSED a {
    color: rgba(0,0,0,0.35);
}
