.box{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 16px;
    border: 1px solid #ebedf0;
    border-radius: 2px;
    font-size: 14px;
    -webkit-transition: background-color .4s;
    transition: all .2s;
}

.boxContainer{
    position: relative;
    width: 100%;
    font-size: 14px;
    border-radius: 0 0 2px 2px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

.boxTitle{
    position: absolute;
    top: -12px;
    margin-left: 16px;
    padding: 1px 8px;
    color: #777;
    background: #fff;
    border-radius: 2px 2px 0 0;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

.boxDescription{
    padding: 18px 24px 12px;
}