.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px 10px;
  float: left;
  line-height: 34px;
  color: antiquewhite;
}

.text{
  padding-left: 10px;
}

.user{
  color: white;
  float: right;
}

.avatar {
    color: white;

  height: 31px;
  background-color: #87d068;
}